# Model for predicting Criminals




### Import all the required Libraries
### We are considering and comparing two different Models: Bernoulli Naive Bayes and Random Forest Classifiers.

In [1623]:
import pandas as pd
import numpy as np

In [1624]:
from sklearn.model_selection import train_test_split

In [1625]:
from sklearn.naive_bayes import BernoulliNB
from sklearn.ensemble import RandomForestClassifier as rfc
from sklearn.neural_network import MLPClassifier
from sklearn.svm import LinearSVC

### Importing the Training Data.

In [1626]:
train = pd.read_csv("C:/Users/Suresh Kumar/Desktop/criminal_train.csv")

In [1627]:
train, test = train_test_split(train, test_size = 0.2)

### As the Person's ID is not much relevant for the prediction, we can remove the feature.

In [1628]:
del train["PERID"]
del test["PERID"]

In [1629]:
train.head()

,IFATHER,NRCH17_2,IRHHSIZ2,IIHHSIZ2,IRKI17_2,IIKI17_2,IRHH65_2,IIHH65_2,PRXRETRY,PRXYDATA,...,TOOLONG,TROUBUND,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP,Criminal
20348,4,0,4,1,2,1,1,1,99,99,...,2,2,1,1,2,2,1692.587066,40019,2,0
19172,1,0,6,1,4,1,1,1,99,1,...,2,2,2,2,2,2,433.902062,40001,2,0
35334,4,0,2,1,1,1,1,1,99,99,...,2,2,2,2,2,2,10519.591710,40002,2,0
41199,4,2,4,1,3,1,1,1,99,99,...,2,2,2,2,2,2,1049.664271,40020,2,0
42054,4,0,3,1,1,1,1,1,99,99,...,2,2,2,3,2,2,143.927892,40013,2,0

In [1630]:
test.head()

,IFATHER,NRCH17_2,IRHHSIZ2,IIHHSIZ2,IRKI17_2,IIKI17_2,IRHH65_2,IIHH65_2,PRXRETRY,PRXYDATA,...,TOOLONG,TROUBUND,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP,Criminal
21168,2,0,4,1,2,1,1,3,99,1,...,2,2,3,3,2,2,2249.745225,40048,2,0
822,4,2,5,1,4,1,1,1,99,99,...,2,2,2,3,2,2,10430.121610,40043,1,0
43211,4,0,2,1,1,1,1,1,99,99,...,2,2,1,1,2,2,1634.077482,40037,1,0
40321,4,0,4,1,1,1,1,1,99,99,...,2,2,2,3,2,2,323.864575,40013,1,0
30362,4,2,4,1,3,1,1,1,99,99,...,2,2,1,1,2,2,3675.149665,40040,2,1

In [1631]:
train_data = train.iloc[:,:-1]

In [1632]:
test_data = test.iloc[:,:-1]

In [1633]:
train_data.head()

,IFATHER,NRCH17_2,IRHHSIZ2,IIHHSIZ2,IRKI17_2,IIKI17_2,IRHH65_2,IIHH65_2,PRXRETRY,PRXYDATA,...,POVERTY3,TOOLONG,TROUBUND,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP
20348,4,0,4,1,2,1,1,1,99,99,...,2,2,2,1,1,2,2,1692.587066,40019,2
19172,1,0,6,1,4,1,1,1,99,1,...,2,2,2,2,2,2,2,433.902062,40001,2
35334,4,0,2,1,1,1,1,1,99,99,...,3,2,2,2,2,2,2,10519.591710,40002,2
41199,4,2,4,1,3,1,1,1,99,99,...,2,2,2,2,2,2,2,1049.664271,40020,2
42054,4,0,3,1,1,1,1,1,99,99,...,1,2,2,2,3,2,2,143.927892,40013,2

In [1634]:
test_data.head()

,IFATHER,NRCH17_2,IRHHSIZ2,IIHHSIZ2,IRKI17_2,IIKI17_2,IRHH65_2,IIHH65_2,PRXRETRY,PRXYDATA,...,POVERTY3,TOOLONG,TROUBUND,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP
21168,2,0,4,1,2,1,1,3,99,1,...,3,2,2,3,3,2,2,2249.745225,40048,2
822,4,2,5,1,4,1,1,1,99,99,...,3,2,2,2,3,2,2,10430.121610,40043,1
43211,4,0,2,1,1,1,1,1,99,99,...,3,2,2,1,1,2,2,1634.077482,40037,1
40321,4,0,4,1,1,1,1,1,99,99,...,1,2,2,2,3,2,2,323.864575,40013,1
30362,4,2,4,1,3,1,1,1,99,99,...,2,2,2,1,1,2,2,3675.149665,40040,2

In [1635]:
from sklearn.feature_selection import SelectFromModel

### Initialising the Classifiers.

In [1636]:
gnb = BernoulliNB()
gnb.fit(train_data, train["Criminal"])

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [1637]:

clf = rfc(max_depth=19, random_state=0)
clf.fit(train_data, train["Criminal"])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=19, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

### Predicting the data splitting the train file into 80% Train and 20% test for evaluation.

In [1638]:
y_pred = gnb.predict(test_data)

In [1640]:
y_pred_rfc = clf.predict(test_data)

In [1641]:
print("Number of mislabeled points out of a total %d points : %d" % (test_data.shape[0],(test["Criminal"] != y_pred).sum()))

Number of mislabeled points out of a total 9144 points : 606

In [1642]:
print("Number of mislabeled points out of a total %d points : %d" % (test_data.shape[0],(test["Criminal"] != y_pred_rfc).sum()))

Number of mislabeled points out of a total 9144 points : 454

### Accuracy of Naive Bayes Classifier

In [1643]:
from sklearn.metrics import accuracy_score as acc
from sklearn.metrics import matthews_corrcoef as MC

acc(test["Criminal"], y_pred)

0.93372703412073488

### Accuracy of Random Forest Classifier

In [1644]:
acc(test["Criminal"], y_pred_rfc)

0.95034995625546803

### Matthews Correlation Coefficient Analysis

In [1645]:
MC(test["Criminal"], y_pred)

-0.0027837473759608233

In [1646]:
MC(test["Criminal"], y_pred_rfc)

0.55458057925630244

## Prediction of Final Test Data.

### Importing the Test Data Set

In [1647]:
test_final = pd.read_csv("C:/Users/Suresh Kumar/Desktop/criminal_test.csv")

In [1648]:
test_PERID = test_final["PERID"]

In [1649]:
del test_final["PERID"]

In [1650]:
test_pred = clf.predict(test_final)

In [1651]:
d = {'PERID' : test_PERID}

In [1652]:
final_data = pd.DataFrame(data = d)
final_data['Criminal'] = test_pred

In [1653]:
final_data.head()

      PERID  Criminal
0  66583679         0
1  35494679         0
2  79424679         0
3  11744679         0
4  31554679         0

### Exporting the predicted data to a CSV file.

In [1654]:
final_data.to_csv("C:/Users/Suresh Kumar/Desktop/final_data.csv", sep=',')