In [66]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [79]:
a = input("Product Info ?!")
b = input("Product 2 Info ?!")

Product Info ?!You are probably familiar with the idea that transitions may be needed between paragraphs or sections in a paper (see our handout on transitions). Sometimes they are also helpful within the body of a single paragraph. Within a paragraph, transitions are often single words or short phrases that help to establish relationships between ideas and to create a logical progression of those ideas in a paragraph. This is especially likely to be true within paragraphs that discuss multiple examples. Let’s take a look at a version of our piranha paragraph that uses transitions to orient the reader:
Product 2 Info ?!Although most people consider piranhas to be quite dangerous, they are, except in two main situations, entirely harmless. Piranhas rarely feed on large animals; they eat smaller fish and aquatic plants. When confronted with humans, piranhas’ instinct is to flee, not attack. But there are two situations in which a piranha bite is likely. The first is when a frightened piranha is lifted out of the water—for example, if it has been caught in a fishing net. The second is when the water level in pools where piranhas are living falls too low. A large number of fish may be trapped in a single pool, and if they are hungry, they may attack anything that enters the water.

In [80]:
data = [{'Desc': a}, {'Desc': b}]
df = pd.DataFrame(data)

In [81]:
df.head()

                                                Desc
0  You are probably familiar with the idea that t...
1  Although most people consider piranhas to be q...

In [82]:
tf = TfidfVectorizer(analyzer='word', ngram_range=(0,1), min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(df['Desc'])

cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix)

In [83]:
tfidf_matrix = tfidf_matrix.todense()

In [84]:
tfidf_df = pd.DataFrame(tfidf_matrix)
tfidf_df

,0,1,2,3,4,5,6,7,8,9,...,68,69,70,71,72,73,74,75,76,77
0,0.000000,0.000000,0.000000,0.000000,0.11782,0.000000,0.000000,0.000000,0.11782,0.000000,...,0.16766,0.000000,0.000000,0.471282,0.000000,0.11782,0.11782,0.11782,0.000000,0.11782
1,0.111777,0.111777,0.223554,0.111777,0.00000,0.111777,0.111777,0.111777,0.00000,0.111777,...,0.07953,0.223554,0.111777,0.000000,0.111777,0.00000,0.00000,0.00000,0.335332,0.00000

In [85]:
simil = pd.DataFrame(cosine_similarities)

In [86]:
simil.head()

          0         1
0  1.000000  0.033335
1  0.033335  1.000000

In [87]:
simil[simil.select_dtypes(include=['number']).columns] *= 100

In [88]:
simil.head()

            0           1
0  100.000000    3.333527
1    3.333527  100.000000

In [89]:
x = simil.loc[0,1]

In [90]:
print("Both the products are %f"%(x) +" %"+ " similar")

Both the products are 3.333527 % similar